@import '../abstract/variaveis';
nav{
    text-align: center;
    ul{
        li{
            display: inline-block;
            padding: 1rem;
            a{
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                color:$cor-primaria;
                &:hover{// & mais comportamentos
                   border-bottom: 1px solid $cor-secundaria;     
                } 

                
            }
        }
    }
}